{% extends "base.html" %}

{% block content %}
<form method="post">
  <h2>Login</h2>
  <table>
    <tbody>
      <tr>
        <label>
          <td class="label">Username</td>
          <td><input type="text" name="username"></td>
        </label>
      </tr>
      <tr>
        <label>
          <td class="label">Password</td>
          <td><input type="password" name="password"></td>
        </label>
      </tr>
    </tbody>
  </table>
  <div class="error">{{error}}</div>
  <input type="submit">
</form>

{% endblock %}
